<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anabiz Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <link rel="stylesheet" href="userProfile.css">
</head>

<body>

<div class="container-fluid text-center">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">More-Recipes</a>
      </div>

    </div>


  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h2> Profile</h2><br>
      <div style="text-align:centers">
      <p>member since 19-10-2017</p>
      <p>Total Uploads: 2</p><br><hr>
    <h3>Uploads</h3>
      <p>Jellof Rice Recipes</p>
      <p>Roasted Platain</p><br><hr>

      <h3>Votes</h3>
      <p>Jellof Rice Recipes: 7</p>
      <p>Roasted Platain: 12</p><br>


    </div>
    </div>
    <div class="col-sm-6">
      <div id="imag" ><img src="my1.jpg" class="img-responsive img-circle" style="width:60%; display:block; margin-left:130px" alt="profile pics">
 </div>
      <h1>Welcome to my profile</h1>
      <p>My name is Iwuji Anthony.I studied engineering, but i love cooking. I started cooking from childhood and have learnt alot of recipes.Try vising some my recipes,i promise you will enjoy them. </p>
      <hr>
      <h3>contact</h3>
      <p>Email: anabizconcept@gmail.com</p>
      <p>Phone: 08065661350</p>
    </div>
    <div class="col-sm-3 sidenav" >

        <h3>Favorite Recipes</h3><br>
        <div class="text-left">
        <ul>
          <li>yam porage</li>
          <li>beans</li>
          <li>poiki</li>
          <li>chicken stew</li>
        </ul>
      </div>
      </div>

  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>
